.elf-container {
  display: flex;
  justify-content: center;
  background-color: lightskyblue;
  padding: 1%;
  margin-bottom: 1%;
  box-sizing: border-box;
  align-items: center;
  flex-wrap: wrap;

  > input, select {
    padding :1%;
    margin: 1%
  }

}